# Node.js & NPM
node_modules/
npm-debug.log

# Dependency directories
/coverage
/lib
/vendor

# Build files
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/

# Editor directories
/.sass-cache
/.vs
/.idea

# Miscellaneous
.DS_Store
Thumbs.db
*.log

# Compiled files (react)
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pem
*.pid
*.log
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swp
*.tmp
*.zip
*.gz
*.csv

# Compiled binary addons (node-gyp)
/build/Release
